{% if page.tags[0] == "noad" or page.tags[1] == "noad" or page.tags[2] == "noad" %}

{% else %}

      <hr>

      <h2>スポンサーリンク</h2>

      <p id="adsense">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 学習帳 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
           data-ad-slot="3677802171"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      </p>

{% endif %}