<!--<h2>コメント</h2>

<form action="#" id="commentform">

<p>現在コメントはありません</p>

<p><a onclick="$('#commentbox').slideToggle('fast');"><em>コメントする</em></a></p>

<div style="display:none" id="commentbox">

<input type="hidden" name="site" value="findlog" />
<input type="hidden" name="mode" value="comment" />
<input type="hidden" name="page" value="{{ page.permalink }}" />

<p>お名前<br><input type="text" name="name" value="" /></p>
<p>コメント<br><textarea name="message" style="max-width:100%;height:200px;"></textarea></p>
<p><input type="button" value="送信する" /></p>

<p id="commentlog">
ご意見やご感想をお書きください。<br>
コメント内容は、管理者の承認後に一般公開されます。<br>
非公開で連絡したい場合は、<a href="contact">お問い合わせフォーム</a>をご利用ください。
</p>

</div>

</form>

<script src="../asset/js/comment.js"></script>-->
