
      {% if page.tags[1] == "snippet11" %}

              <script type="text/javascript">var nend_params = {"media":41810,"site":226895,"spot":647246,"type":10,"oriented":1};</script>
              <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>

              <div class="admax-native" data-admax-id="078444fe908765fa02c747d51fdaf66b"></div>
              <script type="text/javascript" charset="utf-8" src="http://adm.shinobi.jp/st/na.js"></script>

      {% endif %}
