
<h2>最近のオススメ本</h2>

<p>
<a href="https://secure.moshimo.com/af/c/click?a_id=628189&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=http%3A%2F%2Famazon%2Eco%2Ejp%2Fdp%2F4198641323"><img src="https://images-na.ssl-images-amazon.com/images/I/51vEEkO%2By3L._SL160_.jpg"><br>君はどこにでも行ける</a>
<br>【ひとこと】グローバルを意識した働き方をナビゲートしてくれる一冊。自分の先入観をバッサリ切って捨ててくれる。
</p>

<!--
<p>
<a href="https://secure.moshimo.com/af/c/click?a_id=628189&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=http%3A%2F%2Famazon%2Eco%2Ejp%2Fdp%2F4198641323"><img src="https://images-na.ssl-images-amazon.com/images/I/51vEEkO%2By3L._SL160_.jpg"><br>君はどこにでも行ける</a>
<br>【ひとこと】グローバルを意識した働き方をナビゲートしてくれる一冊。自分の先入観をバッサリ切って捨ててくれる。
</p>
-->

<p>
<a href="https://secure.moshimo.com/af/c/click?a_id=628189&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=http%3A%2F%2Famazon%2Eco%2Ejp%2Fdp%2FB00SIM19YS"><img src="https://images-na.ssl-images-amazon.com/images/I/51wO5nSiO9L._SL160_.jpg"><br>仕事は楽しいかね？</a>
<br>【ひとこと】ストーリー仕立てで、成功のための心掛けを紹介している。アイデアと出会うためには偶然性が絡んでくるが、それを掴むために何が出来るのかを考えさせられる。
</p>

<p>
<a href="https://secure.moshimo.com/af/c/click?a_id=628189&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=http%3A%2F%2Famazon%2Eco%2Ejp%2Fdp%2F4820717340"><img src="https://images-na.ssl-images-amazon.com/images/I/51BJZkdO0DL._SL160_.jpg"><br>なぜ、あの部門は「残業なし」で「好成績」なのか？<br>6時に帰るチーム術</a>
<br>【ひとこと】特に子育てしながら働いている人におすすめ。周囲との付き合い方の工夫で、これだけ仕事は効率化できる。
</p>
