
## 端末ラインナップ

### Kindle Oasis

[![](https://images-na.ssl-images-amazon.com/images/I/51VXG4ASFSL._SL160_.jpg)](https://secure.moshimo.com/af/c/click?a_id=628189&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=http%3A%2F%2Famazon%2Eco%2Ejp%2Fdp%2FB010EK2GU2)

### Kindle Voyage

[![](https://images-na.ssl-images-amazon.com/images/I/41nCZkXAVmL._SL160_.jpg)](https://secure.moshimo.com/af/c/click?a_id=628189&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=http%3A%2F%2Famazon%2Eco%2Ejp%2Fdp%2FB00GMUPAIO)

### Kindle Paperwhite

Kindle Paperwhite (第6世代)
[![](https://images-na.ssl-images-amazon.com/images/I/41xHjYR7NBL._SL160_.jpg)](https://secure.moshimo.com/af/c/click?a_id=628189&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=http%3A%2F%2Famazon%2Eco%2Ejp%2Fdp%2FB00CTUMMD2)

Kindle Paperwhite (第5世代)
[![](https://images-na.ssl-images-amazon.com/images/I/4194BeD1XvL._SL160_.jpg)](https://secure.moshimo.com/af/c/click?a_id=628189&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=http%3A%2F%2Famazon%2Eco%2Ejp%2Fdp%2FB007OZNYMU)

### Kindle

[![](https://images-na.ssl-images-amazon.com/images/I/51q4KM6hEaL._SL160_.jpg)](https://secure.moshimo.com/af/c/click?a_id=628189&amp;p_id=170&amp;pc_id=185&amp;pl_id=4062&amp;url=http%3A%2F%2Famazon%2Eco%2Ejp%2Fdp%2FB0186FESEE)
